*{
    color: white;
}  
body{
    animation: changeColor 10s infinite;
}
#display{
    font-size: 2.5rem;
}
#body{
    background-color: black;
    height: 200px;
    width: 60%;
    border-radius: 15px;
    max-width: 600px;
    margin: auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#btn-container{
    font-size: 2.5rem;
}
#btn-container i {
    margin: .1rem;
}

@media only screen and (max-width: 1000px) {
    /* #btn-container{
        font-size: 20px;
    } */
    #body{
        width: 90%;
    }
    #display{
        font-size: 1.5rem;
    }
}

@keyframes changeColor {
    0% {background-color: red;}
    25%{background-color:rgb(171, 191, 255);}
    50%{background-color:green;}
    75%{background-color:brown;}
    100% {background-color: red;}
  }