/* general classes */
*{
    color: white;
}
/* page heading */
.banner{
    height: 70px;
    width: 20%;
    margin: auto;
    background-color: rgb(113, 148, 234);
    border-radius: 15px;
    border: none;
    text-align: center;
    max-width: 300px;
}

#page-head{
    font-size: 2.5rem;
}

/* stopwatch degine css */

body{
    animation: changeColor 10s infinite;
}

#display{
    font-size: 2.5rem;
}

#body{
    background-color: black;
    height: 200px;
    width: 60%;
    border-radius: 15px;
    max-width: 600px;
    margin: auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 1rem;
}
#btn-container{
    font-size: 2.5rem;
}
#btn-container i {
    margin: .1rem;
}

/* responsive degine for the mobile screen */

@media only screen and (max-width: 1000px) {
    #body{
        width: 90%;
    }
    .banner{
        width: 70%;
    }
    #display{
        font-size: 1.5rem;
    }
    #page-head{
        font-size: 1.8rem;
    }
}
/* background color changeing animation */
@keyframes changeColor {
    0% {background-color: rgb(201, 175, 175);}
    25%{background-color:rgb(164, 170, 189);}
    50%{background-color:rgb(158, 180, 158);}
    75%{background-color:rgb(178, 149, 149);}
    100% {background-color: rgb(160, 134, 134);}
  }